.about-page {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;;
  margin-top: 100px;


  .form {
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      position: absolute;
      top: 0px;
      left: 0px;

      input {
        width: 30vw;
        border: 1px solid black;
        font-size: 3em;
      }
    }

    .body {
      position: absolute;
      top: 60px;
      left: 0px;
      display: flex;
      flex-direction: column;

      textarea {
        border: 1px solid black;
        height: 30vh;
        width: 30vw;
      }
    }
  }

  .about-me-info {
    position: relative;
    width: 40%;
    word-break: break-word;

    h3 {
      font-size: 3em;
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }

  .edit-about-me:hover {
    cursor: pointer;
  }

  .edit-about-me {

    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    top: 0px;
    z-index: 10;
  }


  img {
    width: 20%;
    margin-right: 5%;
  }
}
