// Place all the styles related to the Api::Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album_index {
  background-color: #C3C3C3;
  margin: auto;
  width: 100%;
  justify-content: center;

  flex-direction: row;
  > div {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

.album-index-item:hover {
  .album-info {
    display: flex;
  }
}

.album-index-item {
  position: relative;
  width: 33%;

  .album-info {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 20%;
    bottom: 0px;
    left: 0px;
    background:rgba(0,0,0,0.6);
    width: 100%;

    p {
      margin-left: 5%;
      margin-top: 2.5%;
      color: white;
      font-size: 1em;
      font-weight: 200;
    }
  }

  .delete-album {
    position: absolute;
    right: 0px;
    top: 0px;
  }
  img {
  //  height: 300px;
  //  width: 400px;
  }
}
