// Place all the styles related to the Api::Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album_index {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;


  > div {
    // justify-content: space-around;
    // display: flex;
    // flex-wrap: wrap;
  }
}

.album-index-item:hover {
  cursor: pointer;

  .album-info {
    display: flex;
  }
  .delete-album {
    display: flex;
  }
}

.photo-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.album-index-item {
  position: relative;
  display: flex;

  img {
    display: flex;
    flex: auto;
    height: 100%
  }

  .album-info {
    position: absolute;
    display: none;
    flex-direction: column;
    height: 20%;
    bottom: 0px;
    left: 0px;
    background:rgba(0,0,0,0.6);
    width: 100%;

    p {
      margin-left: 5%;
      margin-top: 2.5%;
      color: white;
      font-size: 1em;
      font-weight: 200;
    }
  }

  .delete-album {
    color: white;
    display: none;
    position: absolute;
    right: 2%;
    top: 2%;

    :hover {
      cursor: pointer;
    }

    delete-album:hover {
      cursor: pointer;
    }
  }
}
