// Place all the styles related to the Api::Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album_index {
  background-color: #C3C3C3;
  margin: auto;
  width: 100%;
  justify-content: center;

  flex-direction: row;
  > div {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }
}

.album-index-item {
  padding: 15px;
  img {
    height: 300px;
    width: 400px;
  }
}
