iframe {
  height: 50vh !important;
  border-bottom: 1px solid #E3E3E3 !important;
}


.photo-to-upload {
  height: 50px;
  width: 50px;
}

.photos-to-upload {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
