.nav_bar {
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #E6E6E6;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;


    .login_signup > a {
      padding: 8px 15px 8px 15px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #B6B6B6;
    }
    .login_signup:hover {

    }

    .logout {
      padding: 8px 15px 8px 15px;
      margin-left: 10px;
      margin-right: 10px;
      background-color: #B6B6B6;
    }
  }
}

#logo {
  margin-right: auto;
  margin-left: 20px;
}
