.portfolio-welcome {

  margin-top: 40px;
  margin-bottom: 15px;


  h2 {
    color: #2E2E2E;
    font-size: 2em;
    font-weight: 400;
  }

}


.photo-content {
  .add-album-div {
    margin-top: 20px;
    width: 120px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #6EB800;
    color: white;
    font-size: 1.5em;
    font-weight: 400;
  }
}
