

.site-nav {
  color: #C7C7C7;
  background:rgba(256,256,256,0.2);
  position: relative;
  z-index: 10;

  -webkit-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.75);


  height: 60px;
  display: flex;
  align-items: center;

  .site-navigation {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    transform: translateX(-15px);

    div {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
      padding-left: 15px;
    }

    div:hover {
      cursor: pointer;
      color: black;
      background-color: #E6E6E6;
    }


    .selected {
      color: #2E2E2E;
      // padding-bottom: 5px;
      // border-bottom: 2px solid #2E2E2E;
    }
  }

  .username {
    justify-content: flex-end;
  }
}


.site-nav.user-home-nav {
  background:rgba(256,256,256,0);

  color:rgba(256,256,256,0.8);


  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.site-nav-bar-content {
  min-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;

  display: flex;
  align-items: center;
}
