// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.content {
  min-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
}
