// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;

}
form {
  .add-photos {
    padding: 10px 15px 10px 15px;
    background-color: #6EB800;
    color: white;
    font-size: 1.2em;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.content {
  min-width: 800px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  div {
    display: flex;
    justify-content: flex-start;
  }

  button {
    margin-left: auto;
    margin-bottom: 10px;
  }
}

.cannot-delete {
  display: flex;
  justify-content: flex-start;;
  flex-direction: column;
  position: relative;
  width: 400px;

  div {
    margin-top: 10px;
    font-weight: 400;
    background-color: #6EB800;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 120px;
  }
  div:hover {
    cursor: pointer;
  }
}

.photo-content {
  min-width: 800px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}


.fade {
   opacity: 1;
   transition: opacity .2s ease-in-out;
   -moz-transition: opacity .2s ease-in-out;
   -webkit-transition: opacity .2s ease-in-out;
 }

.fade:hover {
  opacity: 0.8;
}
